absl-py==2.1.0
accelerate==0.21.0
addict==2.4.0
aenum==3.1.15
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aioice==0.9.0
aiortc==1.9.0
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
anthropic==0.34.2
antlr4-python3-runtime==4.9.3
anyio==3.7.1
APScheduler==3.10.4
astunparse==1.6.3
async-timeout==5.0.1
attrs==24.2.0
auto1111sdk==0.0.95
av==12.3.0
backoff==2.2.1
basicsr==1.4.2
blendmodes==2022
boto3==1.35.60
botocore==1.35.64
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
clean-fid==0.1.35
click==8.1.7
clip==0.2.0
coloredlogs==15.0.1
commonmark==0.9.1
contourpy==1.3.0
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.6.7
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
dlib==19.24.6
dnspython==2.7.0
docker==7.1.0
einops==0.4.1
exceptiongroup==1.2.2
eyeGestures==2.7.4
facexlib==0.3.0
fastapi==0.94.0
ffmpy==0.4.0
filelock==3.16.1
filterpy==1.4.5
flatbuffers==24.3.25
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
ftfy==6.3.1
future==1.0.0
gast==0.6.0
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.32
google-crc32c==1.6.0
google-pasta==0.2.0
GPUtil==1.4.0
gradio==3.41.2
gradio_client==0.5.0
grpcio==1.68.0
h11==0.12.0
h5py==3.12.1
httpcore==0.15.0
httpx==0.24.1
huggingface-hub==0.26.2
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
imageio==2.36.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
imutils==0.5.4
inference==0.27.0
inflection==0.5.1
iniconfig==2.0.0
Jinja2==3.1.4
jiter==0.7.1
jmespath==1.0.1
jsonmerge==1.8.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.6.0
keyboard==0.13.5
kiwisolver==1.4.7
kornia==0.6.7
lark==1.1.2
lazy_loader==0.4
libclang==18.1.1
lightning-utilities==0.11.8
llvmlite==0.43.0
lmdb==1.5.1
Markdown==3.7
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.9.2
ml-dtypes==0.4.1
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.14.0
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
omegaconf==2.2.3
onnxruntime==1.19.2
open-clip-torch==2.20.0
openai==1.54.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.11
packaging==24.2
pandas==2.2.3
piexif==1.1.3
Pillow==9.5.0
platformdirs==4.3.6
pluggy==1.5.0
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.21.0
propcache==0.2.0
protobuf==3.20.3
psutil==5.9.5
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
pybase64==1.0.2
pycparser==2.22
pydantic==1.10.19
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydot==2.0.0
pydub==0.25.1
pyee==12.1.1
PyGetWindow==0.0.9
Pygments==2.18.0
pylibsrtp==0.10.0
PyMsgBox==1.0.9
pyOpenSSL==24.2.1
pyparsing==3.2.0
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PyRect==0.2.0
PyScreeze==1.0.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.17
python3-xlib==0.15
pytorch-lightning==1.9.4
pytweening==1.2.0
pytz==2024.2
PyWavelets==1.6.0
PyYAML==6.0.2
realesrgan==0.3.0
redis==5.0.8
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
resize-right==0.0.2
rich==13.0.1
rpds-py==0.21.0
s3transfer==0.10.3
safetensors==0.3.1
scikit-image==0.21.0
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
starlette==0.26.1
structlog==24.4.0
supervision==0.22.0
sympy==1.13.1
tb-nightly==2.19.0a20241118
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tifffile==2024.8.30
timm==0.9.2
tldextract==5.1.3
tokenizers==0.13.3
tomesd==0.1.3
tomli==2.1.0
torch==2.1.0
torchdiffeq==0.2.3
torchmetrics==1.6.0
torchsde==0.2.6
torchvision==0.16.0
tqdm==4.67.0
trampoline==0.1.2
transformers==4.30.2
triton==2.1.0
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
uvicorn==0.32.0
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.16.0
yapf==0.43.0
yarl==1.17.2
zipp==3.21.0
zxing-cpp==2.2.0
