absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioice==0.9.0
aioresponses==0.7.6
aiortc==1.9.0
aiosignal==1.3.1
annotated-types==0.7.0
anthropic==0.34.2
anyio==4.4.0
APScheduler==3.10.1
async-timeout==4.0.3
attrs==24.2.0
av==12.3.0
awscli==1.33.44
backoff==2.2.1
boto3==1.34.123
botocore==1.34.162
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cmake==3.25.2
colorama==0.4.4
coloredlogs==15.0.1
comtypes==1.4.8
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
Cython==3.0.0
dataclasses-json==0.6.7
defusedxml==0.7.1
distro==1.9.0
dlib @ file:///C:/Users/theod/OneDrive/Desktop/GeneralAcademics/Courses/Fall24/CIS4914/SDP-EyeCommunicate/dlib-19.22.99-cp310-cp310-win_amd64.whl
dnspython==2.7.0
docker==6.1.3
docutils==0.16
exceptiongroup==1.2.2
eyeGestures==2.7.4
face-recognition==1.3.0
face-recognition-models==0.3.0
fastapi==0.110.3
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
google-api-core==2.19.2
google-api-python-client==2.144.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
GPUtil==1.4.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.24.6
humanfriendly==10.0
idna==3.8
ifaddr==0.2.0
imageio==2.35.1
imutils==0.5.4
inference==0.22.2
iniconfig==2.0.0
jax==0.4.35
jaxlib==0.4.35
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.7
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
mdurl==0.1.2
mediapipe==0.10.18
ml_dtypes==0.5.0
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.4
onnxruntime==1.15.1
openai==1.44.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
packaging==24.1
pandas==2.2.2
pendulum==3.0.0
piexif==1.1.3
pillow==10.4.0
pluggy==1.5.0
prettytable==3.11.0
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.20.0
propcache==0.2.0
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
PuLP==2.9.0
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pybase64==1.4.0
pycparser==2.22
pydantic==2.9.1
pydantic-settings==2.4.0
pydantic_core==2.23.3
pydot==3.0.1
pyee==12.0.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.18.0
pylibsrtp==0.10.0
PyMsgBox==1.0.9
pyOpenSSL==24.2.1
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
pytest==8.3.2
pytest-asyncio==0.21.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-xlib==0.15
pyttsx3==2.98
pytweening==1.2.0
pytz==2024.1
pywin32==308
PyYAML==6.0.2
redis==5.0.8
referencing==0.35.1
requests==2.31.0
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.5.2
rpds-py==0.20.0
rsa==4.7.2
s3transfer==0.10.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
sentencepiece==0.2.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
skypilot==0.5.0
sniffio==1.3.1
sounddevice==0.5.1
starlette==0.37.2
structlog==24.4.0
supervision==0.22.0
sympy==1.13.2
tabulate==0.9.0
threadpoolctl==3.5.0
tifffile==2024.8.30
time-machine==2.15.0
tldextract==5.1.2
tokenizers==0.20.0
tomli==2.0.2
tqdm==4.66.5
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.20
wcwidth==0.2.13
websocket-client==1.8.0
yarl==1.11.1
zxing-cpp==2.2.0
