absl-py==2.1.0
annotated-types==0.7.0
anthropic==0.34.2
anyio==4.2.0
appdirs==1.4.4
APScheduler==3.10.4
archspec==0.2.3
argcomplete==3.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
bleach==6.1.0
blivet==3.10.0
blivet-gui==2.5.0
boltons==23.1.1
boto3==1.35.25
botocore==1.35.25
Brlapi==0.8.5
bs4==0.0.2
capstone==5.0.1
catppuccin-jupyterlab==0.2.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colored-traceback==0.3.0
comm==0.2.1
conda==24.4.0
conda-libmamba-solver==23.11.1
conda-package-handling==2.2.0
conda_package_streaming==0.9.0
contourpy==1.2.0
cryptography==41.0.7
cson==0.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.11
dasbus==1.7
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dlib==19.24.6
dnf==4.21.1
docx==0.2.4
eos-py==1.4.0.post0
executing==2.0.1
eyeGestures==2.5.4
face-recognition==1.3.0
face_recognition_models==0.3.0
faicons==0.2.2
fastapi==0.114.0
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.47.2
fqdn==1.5.1
fros==1.1
frozendict==2.3.10
fsspec==2024.9.0
gast==0.6.0
google-pasta==0.2.0
gpg==1.23.2
grpcio==1.67.0
h11==0.14.0
h5py==3.12.1
htmltools==0.5.3
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.6
humanize==3.13.1
idna==3.7
imageio==2.35.1
imutils==0.5.4
iniconfig==2.0.0
inkex==1.3.1
intervaltree==3.1.0
ipykernel==6.29.0
ipython==8.18.0
ipywidgets==8.1.2
iso639==0.1.4
isoduration==20.11.0
jax==0.4.31
jaxlib==0.4.31
jedi==0.19.1
Jinja2==3.1.3
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.0
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.10
jupyterthemes==0.20.0
keras==3.6.0
keyboard==0.13.5
kiwisolver==1.4.5
langtable==0.0.68
lazy_loader==0.4
lesscpy==0.15.1
libclang==18.1.1
libcomps==0.1.20
libdnf==0.73.3
libevdev==0.11
libloc==0.9.17
libmambapy==1.5.8
linkify-it-py==2.0.3
louis==3.28.0
lxml==5.1.0
Mako==1.2.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.1
mdurl==0.1.2
mediapipe==0.10.14
menuinst==2.0.0
mistune==3.0.2
ml-dtypes==0.4.0
MouseInfo==0.1.3
mysql-connector-python==8.0.16
names==0.3.0
namex==0.0.8
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.3
nftables==0.1
nltk==3.8.1
notebook_shim==0.2.3
numpy==1.26.3
olefile==0.47
openai==1.44.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
openfoodfacts==1.1.1
opt-einsum==3.3.0
optree==0.13.0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
paramiko==3.5.0
parso==0.8.3
Paste==3.7.1
pexpect==4.9.0
pid==2.2.3
piexif==1.1.3
pillow==10.3.0
platformdirs==4.1.0
plotly==5.24.0
pluggy==1.5.0
plumbum==1.7.2
ply==3.11
productmd==1.38
progressbar2==3.53.2
prometheus-client==0.19.0
prometheus-fastapi-instrumentator==7.0.0
prompt-toolkit==3.0.36
protobuf==4.25.4
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pwntools==4.11.1
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.5.1
PyAutoGUI==0.9.54
pybase64==1.4.0
pycairo==1.25.1
pycosat==0.6.6
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pycurl==7.45.2
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pydot==3.0.1
pyelftools==0.31
pyenchant==3.2.2
pygame==2.5.2
PyGetWindow==0.0.9
pygit2==1.14.0
Pygments==2.17.2
PyGObject==3.48.2
pykickstart==3.52
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
pyperclip==1.9.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-sip==13.6.0
PyRect==0.2.0
PyScreeze==1.0.1
pyserial==3.5
PySide6==6.7.3
PySide6_Addons==6.7.3
PySide6_Essentials==6.7.3
PySimpleGUI==5.0.6
PySocks==1.7.1
pytest==8.3.2
pytest-asyncio==0.24.0
python-augeas==1.1.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-meh==0.51
python-multipart==0.0.9
python-pam==2.0.2
python-utils==3.7.0
python3-xlib==0.15
pytweening==1.2.0
pytz==2023.4
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
questionary==2.0.1
redis==5.0.8
referencing==0.33.0
regex==2024.4.28
requests==2.31.0
requests-file==2.0.0
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.0
ROPGadget==7.4
rpds-py==0.17.1
rpm==4.19.1.1
rpmautospec==0.7.2
rpmautospec-core==0.1.5
rpyc==5.1.0
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.7
s3transfer==0.10.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
scour==0.38.2
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.0.3
shapely==2.0.6
shiboken6==6.7.3
shiny==1.1.0
shinywidgets==0.3.3
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sos==4.7.2
sounddevice==0.5.0
soupsieve==2.5
speg==0.3
stack-data==0.6.3
starlette==0.38.4
structlog==24.4.0
supervision==0.23.0
systemd-python==235
Tempita==0.5.2
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.5.0
terminado==0.18.0
theme-darcula==4.0.0
themes==0.0.4
threadpoolctl==3.5.0
tifffile==2024.8.30
tinycss2==1.2.1
tldextract==5.1.2
tokenizers==0.20.0
tornado==6.4
tqdm==4.66.5
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.11.0
tzdata==2023.4
tzlocal==5.2
uc-micro-py==1.0.3
unicorn==2.0.1.post1
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.30.6
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
webio-jupyter-extension==0.1.0
websocket-client==1.7.0
websockets==13.0.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.10
wikipedia==1.4.0
wrapt==1.16.0
xkbregistry==0.3
zstandard==0.22.0
zxing-cpp==2.2.0
